.x{
    width: 100%;
    height: 100%;
}

.bn{
    position: absolute;
    left: 0;
    top: 0;
    background: none;
    border: none;
    padding: 10px;
}

.excel-bn{
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    padding: 10px;
}


.bn>img{
    height: 50px;
}

.excel-img{
    height: 50px;
}