.sign-in{
    height: 80%;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.sign-in-container>form{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    font-size: xx-large;
    background-color: #6fd8db;
    color: white;
    padding: 30px 0px;
}

.input-sec{
        margin: 40px 0px;
}


.login-btn{
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: large;
}